/2012_2b_vazgen_badalyan_interest_rate_models.aux
/2012_2b_vazgen_badalyan_interest_rate_models.log
/2012_2b_vazgen_badalyan_interest_rate_models.out
/2012_2b_vazgen_badalyan_interest_rate_models.synctex.gz
/vazgen_badalyan_otziv.doc
